#id {
    background-color:yellow;
}

#header {
    background-color:#EAC926;
    font-family: 'Roboto'; 
}

#logo {
    width: 120px;
}

#buscador{
    margin-left:20px;
}

.burger-menu {
    text-align: center;
    height: 20px;
    width: 20px;
    border: 1px solid blue;
}

.imagen-producto{
    width: "400";
    height: "450";
}

.contenedor-logo-buscador{
    justify-content: center;
    display: flex;
}